<?xml version="1.0"?>

<launch>
  <arg name="uri" default="radio://0/100/250K/E7E7E7E702" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie">

    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="crazyflie" />
      <rosparam>
        genericLogTopics: ["thrust", "vz_pid","sp_vz"]
        genericLogTopicFrequencies: [100, 100 ,100]
        genericLogTopic_thrust_Variables: ["stabilizer.thrust","posCtlPid.thrustBase"]
        genericLogTopic_vz_pid_Variables: ["posCtl.VZp", "posCtl.VZi", "posCtl.VZd"]
        genericLogTopic_sp_vz_Variables: ["posCtl.targetVZ", "posCtl.targetZ"]
      </rosparam>
    </node>


  </group>
</launch>
